<div class="w-full h-[256px] bg-silvertree-950 flex p-[32px] items-center">
  <div class="flex flex-col space-y-[8px]">
    <a href="https://www.linkedin.com/in/fahmi-noordin-rumagutawan-0b506521b/">
      <div class="flex  space-x-[8px] items-center">
        <ng-icon size="32px" color="#ffffff" name="bootstrapLinkedin" ></ng-icon>
        <p class="text-silvertree-50 font-semibold">
          LinkedIn
        </p>
      </div>
    </a>

    <a href="https://github.com/fahmigutawan">
      <div class="flex  space-x-[8px] items-center">
        <ng-icon size="32px" color="#ffffff" name="bootstrapGithub" ></ng-icon>
        <p class="text-silvertree-50 font-semibold">
          Github
        </p>
      </div>
    </a>

    <a href="https://www.instagram.com/fahmigutawan/">
      <div class="flex  space-x-[8px] items-center">
        <ng-icon size="32px" color="#ffffff" name="bootstrapInstagram" ></ng-icon>
        <p class="text-silvertree-50 font-semibold">
          Instagram
        </p>
      </div>
    </a>
  </div>
</div>
